<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <div class="card bg-light mb-4 box-shadow">
      <div class="card-body">
      <h4 class="card-title">  <td><%= @project.title %></td></h4>
      <p class="card-text"> <td><%= @project.description %></td></p>

      <br>
      <% if user_signed_in? %>
      <%= link_to 'Edit', edit_project_path(@project), class: "btn btn-info" %> |
      <% end %>
      <%= link_to 'Back', projects_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>